.container {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
        "header header"
        "sidenav main"
        "footer footer"
}

.item-header {
    background-color: #1abc9c;
    grid-area: header;
}

.item-sidenav {
    background-color: green;
    grid-area: sidenav;
}

.item-main {
    background-color: #ecf0f1;
    grid-area: main;
}

.item-footer {
    grid-area: footer;
}